* { padding: 0; margin: 0; box-sizing: border-box;}

:root{
    font-size:62.5%;

    --body-bc: #E5E5E5;
    --button-bc: #FF0000;
    --primary-fc: #000000;
    --secondary-fc:#9C9696;

    --secondary-bc:#C4C4C4;
}

body {
    font-size: 1.6rem;
    
    background-color: var(--body-bc);
}

body * {
    font-family: 'Roboto' , sans-serif;
    font-weight: 700;
}

#app {
    width: 100vw;
    margin: 0 auto;
}

header {
    display: flex;
    gap: 10rem;
    align-items: center;

    margin-top: 3.9rem;

    position: absolute;
    left: 6rem;
}

header nav ul {
    list-style: none;

    display: flex;
    gap: 9rem;
} 

header nav ul li {
    font-size: 2.4rem;
    line-height: 2.8rem;
    text-transform: uppercase;
}

header input {
    width: 22rem;
    height: 4.5rem;

    border: none;
    padding-left: 4.2rem;

    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M17.023 16.6163C16.5546 16.1867 16.0988 15.7449 15.656 15.2912C15.284 14.9293 15.06 14.666 15.06 14.666L12.26 13.3859C13.381 12.1686 13.9997 10.6016 14 8.97872C14 5.28394 10.86 2.2766 7 2.2766C3.14 2.2766 0 5.28394 0 8.97872C0 12.6735 3.14 15.6809 7 15.6809C8.763 15.6809 10.37 15.0489 11.603 14.0159L12.94 16.6967C12.94 16.6967 13.215 16.9112 13.593 17.2673C13.98 17.6149 14.489 18.085 14.977 18.5762L16.335 19.9089L16.939 20.5274L19.06 18.4967L18.414 17.9184C18.035 17.5622 17.529 17.0893 17.023 16.6163ZM7 13.766C4.243 13.766 2 11.6184 2 8.97872C2 6.33904 4.243 4.19149 7 4.19149C9.757 4.19149 12 6.33904 12 8.97872C12 11.6184 9.757 13.766 7 13.766Z' fill='black'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: 1.3rem 50%;

    color: var(--secondary-fc);
    font-size: 1.8rem;
    line-height: 2.1rem;
    font-weight: 500;
}

main {
    display: flex;
}

main .description {
    max-width: 35.7rem;
    margin: 19rem auto;
}

h1 {
    font-size: 6.0rem;
    line-height: 7.0rem;
}

.description p {
    color: var(--secondary-fc);
    line-height: 1.9rem;

    margin: 2.1rem 0 2.1rem 0;
} 

h2 {
    color: var(--primary-fc);
    font-size: 4.0rem;
    line-height: 4.7rem;

    margin-bottom: 3rem;
}

.description button {
    background-color: var(--button-bc);

    border: none;

    padding: 3.3rem 7.5rem;

    color: #fff;
    text-transform: uppercase;
    font-size: 2.4rem;
    line-height: 2.8rem;
}

.products {
    width: 90rem;

    background-color: var(--secondary-bc);

    text-align: center;
    padding-top: 17.5rem;
}

.row-select {
    display: flex;
    gap: 3.7rem;
    margin-left: 1.8rem;
}

footer {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

footer nav ul {
    display: flex;
    gap: 9rem;

    list-style: none;
}

footer nav ul li {
    text-transform: uppercase;
    font-size: 1.8rem;
    line-height: 2.1rem;
}

footer button{
    padding: 8rem 11.6rem;

    background-color: var(--primary-fc);

    color: #fff;

    border: none;

}
